<nav class="navbar navbar-expand-lg" style="background-color: #333;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" routerLink="/home"  style="cursor: pointer;">SMS Portal</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="IsLoggedIn && (role === 'Admin' || role === 'Sender')">
          <a class="nav-link text-white" routerLink="/sendmessages">Send Message</a>
        </li>
        <li class="nav-item" *ngIf="IsLoggedIn && (role === 'Admin' || role === 'Sender')">
          <a class="nav-link text-white" routerLink="/sendcsvmessage">Send Message(CSV)</a>
        </li>

        <li class="nav-item" *ngIf="IsLoggedIn && (role === 'Admin' || role === 'Sender')">
          <a class="nav-link text-white" routerLink="/templates">Templates</a>
        </li>

        <li class="nav-item" *ngIf="IsLoggedIn && (role === 'Admin' || role === 'Sender')">
          <a class="nav-link text-white" routerLink="/createtemplate">Create Template</a>
        </li>

        <li class="nav-item" *ngIf="IsLoggedIn && (role === 'Admin' || role === 'Viewer')">
          <a class="nav-link text-white" routerLink="/reports">Reports</a>
        </li>

        <li class="nav-item" *ngIf="IsLoggedIn && (role === 'Admin' || role === 'Viewer')">
          <a class="nav-link text-white" routerLink="/messagehistory">Message History</a>
        </li>

        <li class="nav-item" *ngIf="IsLoggedIn">
          <a class="nav-link text-white" style="cursor: pointer;" (click)="logout()">Log out</a>
        </li>

        <li class="nav-item" *ngIf="!IsLoggedIn">
          <a class="nav-link text-white" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>