<div class="main-content">
  <div class="centered-card">
    <h2>Create Message Template</h2>
    <form [formGroup]="CreateForm" (ngSubmit)="submit()" >
      <label>Title</label>
      <input type="text"  class="form-control"
      formControlName="title"  placeholder="Template Title" />
      <div
      *ngIf="CreateForm.get('title')?.touched && CreateForm.get('title')?.invalid"
      class="text-danger"
    >
      <div *ngIf="CreateForm.get('title')?.errors?.['required']">
        Title is required
      </div>
      <div *ngIf="CreateForm.get('title')?.errors?.['pattern']">
        Title Must Be From 2-20 Characters
      </div>
      </div>
      <label>Content</label>
      <textarea  class="form-control"
      formControlName="content" placeholder="Message Content"></textarea>
      <div
      *ngIf="CreateForm.get('content')?.touched && CreateForm.get('content')?.invalid"
      class="text-danger"
    >
      <div *ngIf="CreateForm.get('content')?.errors?.['required']">
        Content is required
      </div>
      </div>
      <button type="submit">Save Template</button>
    </form>
  </div>
</div>

